	<%= render 'post_books/list', post_books: @post_books %>

<div class="body">
	<div class="containar">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<h1 class="heading">
					Welcome to
					<span class="glyphicon glyphicon-book"></span><strong>Bookers</strong>
					!
				</h1>
			</div>
		</div>
	</div>
</div>


<footer>
	<div class="containar">
		<div class="row">
			<div class="col-xs-3 col-xs-offset-9">
				<p>CopyRight Infreatop.ink</p>
			</div>
		</div>
	</div>
</footer>